<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FFW - Home</title>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>👊 Fishel Fitness World!!!</h1>
  <nav>
    <a href="/"><i class="uil uil-home"></i> Home</a>
    <a href="/exercise"><i class="uil uil-dumbbell"></i> Log a Workout</a>
    <a href="/add"><i class="uil uil-heartbeat"></i> View All Workouts</a>
  </nav>
  {% block body %}
  {% endblock %}
</body>
</html>